<h2>Расписание</h2>
<table class="table">
    <thead>
        <tr>
            <th>Дата эфира</th>
            <th>Имя Работника</th>
            <th>Название Записи</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.BroadcastSchedules != null && Model.BroadcastSchedules.Any())
        {
            foreach (var broadcast in Model.BroadcastSchedules)
            {
                <tr>
                    <td>@broadcast.BroadcastDate.ToShortDateString()</td>
                    <td>@broadcast.Employee?.FullName </td>
                    <td>@broadcast.Record?.Title </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Нет расписаний.</td>
            </tr>
        }
    </tbody>
</table>

